body {
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 5%;
    background: linear-gradient(-90deg, #fca191, #e1a0ff, #7dff9e, #eeff07);
    background-size: 400% 400%;
    animation: gradient 25s ease infinite;
  }
  @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
}

.container {
    margin-top: 40%;
    background: rgb(255, 229, 255);
    width: 70vw;
    height: 40vh;
    border: 5px, solid, black;
}
.box {

 
}

button {

}