body {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 20%;
    background: linear-gradient(-90deg, #fca191, #e1a0ff, #7dff9e, #eeff07);
    background-size: 400% 400%;
    animation: gradient 25s ease infinite;
  }
  @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
}

.container {
    color: rgb(54, 134, 134);
    position: relative;
    background: rgb(255, 229, 255);
    width: 70vw;
    height: 40vh;
    border: 5px, solid, black;
    text-shadow: -2px 0px 6px #d6d6d6;
}

.ripple {
    background-position: center;
    transition: background 0.8s;
  }
  .ripple:hover {
    background: #47a7f5 radial-gradient(circle, transparent 1%, #47a7f5 1%) center/15000%;
  }
  .ripple:active {
    background-color: #6eb9f7;
    background-size: 100%;
    transition: background 0s;
  }
  
  button {
    border: none;
    border-radius: 20px;
    padding: 12px 18px;
    font-size: 16px;
    text-transform: uppercase;
    cursor: pointer;
    color: white;
    background-color: #de3bff;
    box-shadow: 0 0 4px #999;
    outline: none;
  }