

#board {
    height: 90vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

.tiles {

color: black;
font-size: 2rem;
text-align: center;
padding: 5rem
}

.tile-start{
    text-align: center;
    font-size: 5rem;
}

.tile-running{
    text-align: center;
    font-size: 5rem;
    color: white;
    background: black;
}

.tileRed{
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    background:rgb(252, 181, 181);
}
.tileBlue{
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    background: rgb(178, 178, 252);
}
.tileGreen{
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
    background: rgb(181, 247, 181);
}
.tileYellow{
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    background: rgb(255, 255, 185)
}

.red {
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    background: red;
}
.blue {
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    background: blue;
}
.green {
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
    background: green;
}
.yellow {
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    background: yellow;
}
