body {

}

#board {
    height: 90vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

.tiles {

color: black;
font-size: 2rem;
text-align: center;
padding: 5rem
}

.tile1{
    background:red;
}
.tile2{
    background: blue;
}
.tile3{
    background: green;
}
.tile4{
    background: yellow
}
