

#board {
    height: 90vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

.tiles {

color: black;
font-size: 2rem;
text-align: center;
padding: 5rem
}

.tile-start{
    text-align: center;
    font-size: 5rem;
    margin-top:30%
}

.tile1{
    background:rgb(255, 147, 147);
}
.tile2{
    background: rgb(151, 151, 255);
}
.tile3{
    background: rgb(158, 255, 158);
}
.tile4{
    background: rgb(255, 255, 148)
}

.red {
    background: red;
}
.blue {
    background: blue;
}
.green {
    background: green;
}
.yellow {
    background: yellow;
}
